<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="display-1 text-center">Agenda</h1>
      <p class="text-center lead">Your contacts are down side this page</p>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Pepe</td>
            <td>Juan</td>
            <td>2133045995</td>
            <td>pepe@fakegmail.com</td>
          </tr>
          <tr>
            <td>Pepe</td>
            <td>Juan</td>
            <td>2133045995</td>
            <td>pepe@fakegmail.com</td>
          </tr>
          <tr>
            <td>Pepe</td>
            <td>Juan</td>
            <td>2133045995</td>
            <td>pepe@fakegmail.com</td>
          </tr>
          <tr>
            <td>Pepe</td>
            <td>Juan</td>
            <td>2133045995</td>
            <td>pepe@fakegmail.com</td>
          </tr>
          <tr>
            <td>Yurubú</td>
            <td>Lope</td>
            <td>0293847565</td>
            <td>yurubu@fakegmail.com</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
