<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="display-4 text-center">Sign in / Login</h1>
      <p class="text-center lead">Joint us</p>

      <div class="row">
        <div class="col-lg">
          <h4>Sign In</h4>
          <p>Get Signed</p>

          <form action="/login/register" method="POST">
            <div class="mb-3">
              <label>Email</label>
              <input type="email" class="form-control" name="email" />
            </div>

            <div class="mb-3">
              <label>Password</label>
              <input type="password" class="form-control" name="password" />
            </div>

            <button type="submit" class="btn btn-primary">
              Create Account
            </button>
          </form>
        </div>

        <div class="col-lg">
          <h4>Login</h4>
          <p>Enter into your account</p>

          <form action="/login/login" method="POST">
            <div class="mb-3">
              <label>Email</label>
              <input type="email" class="form-control" name="email" />
            </div>

            <div class="mb-3">
              <label>Password</label>
              <input type="password" class="form-control" name="password" />
            </div>

            <button type="submit" class="btn btn-primary">Enter</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
