body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open-sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.conteiner {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
